{{ msg }}{% if presenter is defined %}

{{ presenter['name'] }} can be found at {{ presenter['where']}}.{% endif %}{% if event is defined %}

{% for tag in event['tags'] %}#{{ tag }} {% endfor %}{% endif %}